.card {
    background: #fff;
    border-radius: 2px;
    height: 225px;
    margin: 1rem;
    position: relative;
    width: 225px;
    box-shadow: 0 3px 6px rgb(66, 65, 65), 0 3px 6px rgb(66, 65, 65);
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
  }

  .card-image img {
    height: 225px;
    width: 225px;
  }

  .hoverable {
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;

  }

  /* .card > .card-image {
    height: 60%;
    background-size: cover;
  }
  .card > .card-image > img {
    width: 60%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }  */

